h1{
    text-align: center;
    padding-top: 2%;
}
body {
    height: 100%;
    background-color: #f2f2f2;
  }
  
  .event:hover {
    cursor: pointer;
  }
  
  .hidden {
    visibility: hidden;
    height: 0;
  }
  
  #calendar {
    height: 100vh !important;
  }

.custom-container {
    width: 100%;
    padding: 20%;
}

.academic {
    background-color: hwb(271 15% 18%);
}

.work {
    background-color: hwb(123 0% 0%);
}

.fun {
    background-color: hsl(51, 98%, 50%);
}

.rest {
    background-color: hwb(0 1% 1%);
}

#container p { display: inline }